@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    background: #09001d;   
    overflow: hidden;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:100;
}
.main {
    width: 100%;
    background: url('images/07.avif') no-repeat;
    background-size: cover;
    background-position: center;
    pointer-events: auto;
    transition: .3s ease;
}


.logo {
    font-size: 32px;
    color:#fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color:#fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #c40094;
}
.container {
    display: flex;
    height: 100vh;
    width: 200%;
}

.home {
    position: relative;
    left: -50%;
    width: 100%;
    display:flex;
    justify-content:center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column; 
}

.home-content h1 {
    font-size: 75px;
    font-weight: 700;
    text-shadow: 0 0 10px  rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px  rgba(0, 0, 0, .3);
    margin-bottom: 30px;
} 

.home-content .start-btn {
    width :190px;
    height: 55px;
    background: #307beb;
    border: 3px solid whitesmoke;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #1d2eac;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .8s;
}

.home-content .start-btn:hover {
    background: #ffffff;
    color: var(--special_black);
    border: 3px solid black;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 100%;
    height: 100%;
    background: url('images/04.jpeg') no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 6px;  
    padding: 10px 25px;
    opacity: 0;
    pointer-events:none;
    transition: .3s ease;
}

.popup-info.active{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.popup-info h2{
    font-size: 50px;
    color: #fff;
    margin-top: 100px;
}

.popup-info .info{
    display:inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display:grid;
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 245px;
    background: #06547b;
    border: 2px solid #06547b;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 30px;
    color:#fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    transition: .5s;
}
.popup-info .btn-group .exit-btn {
    width: 175px;
    height: 170px;
    background-color: #09b4da;
}

.popup-info .btn-group .info-btn:nth-child(1) {
    background:#06547b;
    color:#fff;
    
}
   
.popup-info .btn-group .info-btn:nth-child(1):hover{
    background: #09b4da;
    border-color: #06547b;
}

.popup-info .btn-group .info-btn:nth-child(2):hover{
    background: #09b4da;
    border-color: #06547b;
}
.popup-info .btn-group .info-btn:nth-child(3):hover{
    background: #09b4da;
    border-color: #06547b;
}
.popup-info .btn-group .info-btn:nth-child(4):hover{
    background: #09b4da;
    border-color: #06547b;
}
.popup-info .btn-group .info-btn:nth-child(5):hover{
    background: #09b4da;
    border-color: #06547b;
}
.popup-info .btn-group .info-btn:nth-child(6):hover{
    background:transparent;
    border-color: #09b4da;
    color:#09b4da;
}

.quiz-section {
    position: relative;
    left: -50%;
    width: 100%;
    background: #09001d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:100;
    transition: .8s ease-in-out;
    transition-delay: .25s; 
}

.quiz-section.active {
    left:0;
}

.quiz-section  .quiz-box {
    position:relative;
    width: 500px;
    background: transparent;
    border: 2px solid #06547b;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px;  
    opacity:0;
    pointer-events: none;
    transform:  scale(.7);
    transition: .3s ease;
    transition-delay: 0s;
}

.quiz-section .quiz-box.active {
    opacity:1;
    pointer-events: auto;
    transform:  scale(1); 
    transition: 1s ease;
    transition-delay: 1s;
}

.quiz-box h1{
    font-size: 32px;
    text-align: center;
    background: linear-gradient(30deg,transparent,#06547b,transparent);
    border-radius: 6px;
}

 .quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px;
    border-bottom: 2px solid #06547b;
    margin-bottom: 20px;
 }

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}
.quiz-header .header-score{
    background-color: #06547b;
    border-radius: 10px;
    padding: 10px;
    font-size: 16px;
}

.quiz-box .question -text {
    font-size: 24px;
    font-weight: 600;
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: transparent;
    border: 2px solid rgba(196, 186, 186, 0.325);
    box-shadow: 0 0 6px rgba(126, 157, 26, 0.753);
    border-radius: 8px;
    font-size: 17px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}
.option-list .option:hover{
    background: rgba(123, 135, 101, 0.263);
    border-color: rgba(255, 255, 255, 0.1);
}

.option-list .option.correct {
    background: #120235;
    color: #00a63d;
    border-color: #00a63d;
}

.option-list .option.incorrect {
    background: #1c064baa;
    color: #a60045;
    border-color: #a60045;
}

.option-list .option.disabled {
    pointer-events: none;
}

.quiz-box .quiz-footer {
    display:flex;
    justify-content:space-between;
    align-items: center;
    border-top: 2px solid #06547b;
    padding-top: 20px;
    margin-top: 20px;
}

.quiz-footer .question-total{
    font-size:16px;
    font-weight: 600;
}

.quiz-footer .next-btn{
    width: 100px;
    height: 45px;
    background: rgba(55, 15, 119, 0.399);
    border: 2px solid rgba(0, 0, 0, 0.321);
    outline:none;
    border-radius: 6px;    
    font-size: 16px;
    color: rgba(255, 255, 255, 0.53);
    font-weight: 600;
    cursor: pointer; 
    pointer-events:none;
    transition: .5s;
}

.quiz-footer .ex{
    width: 70px;
    height: 45px;
    background: rgba(230, 143, 28, 0.399);
    border: 2px solid rgba(44, 48, 165, 0.321);
    outline:none;
    border-radius: 15px;    
    font-size: 16px;
    color: rgb(255, 254, 254);
    font-weight: 600;
    transition: .5s;
}

.quiz-footer .ex:hover { 
    background: #875109;
    box-shadow: none;
    color: #fff;    
}

.quiz-footer .next-btn.active {
    pointer-events: auto; 
    background: #113b76;
    box-shadow: none;
    color: #fff;    
}

.quiz-footer .next-btn.active:hover {
    background: #3993e1;
    border-color: #06547b;
    box-shadow: 0 0 6px rgba(117, 134, 243, 0.753);
}

.quiz-footer .next-btn.active:active {
    background: #06547b;
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #06547b;
    border-radius: 6px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .6s ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.result-box h2 {
    font-size: 52px; 
}

.result-box .percentage-container{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.percentage-container .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#06547b 3.6deg, rgba(33, 49, 153, 0.1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-container .circular-progress::before{
    content: '';
    position:absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;

}


.circular-progress .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}

.buttons button {
    width: 150px;
    height: 55px;
    background: #06547b;
    border: 2px solid #06547b;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #3993e1;
    border-color: #06547b;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #fff;
}

.buttons button:nth-child(2):hover {
    background: #3993e1;
    color: #fff;
}
 





     